body {
    background-color: rgb(17, 17, 17);
    color : white;
}

.monster {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    margin-left: 50px;

}

#monster {
    border-radius: 5px;
    background-color: palegreen;
    width: 100px;
    border: 0px solid white; 
    color : black;
    text-align: center;
}

#actionbox {
    border: 2px solid rgb(255, 255, 255);
    width: 500px;
    overflow: auto;
}

#actionbox > p {
    margin: 0 ;
}

ul#status {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#status li {
    margin-left : 20px;
}

button {
    width: 75px;
    height: 40px;
    background-color: rgb(160, 2, 2);
    border: 0;
    margin-right: 8px;
    color:rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(255, 255, 255);
    color : black; 
}

hr {
    border : none;
}